/* Variables */

:root{
    --amarillo: #FFD800;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 62.5%;
}

/* ------------------------------- */
/* GENERALES */
/* ------------------------------- */

.fp-tableCell{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100vh !important;
}

.fp-tableCell:first-child{
    grid-template-rows: 7.5rem 1fr 9.5rem;
}


.seccion-completa{
    margin: 0 auto;
    font-size: 7rem;
    /* border: 1px solid black; */
}


/* ------------------------------- */
/* SLIDE 1 */
/* ------------------------------- */


/* Cabecera nav */

.slideuno{
    background-image: url('../img/masthead.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: 7.5rem 1fr 9.5rem;
}

.nav{
    position: fixed;
    z-index: 99;
    background: rgba(0, 0, 0, 0.4);
    height: 7.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(124, 124, 124);
}

.logo{
    display: flex;
    padding-top: 5px;
    align-content: center;
    justify-content: flex-start;
    grid-column:1/ span 4;
    padding-left: 15%;
}


.menu{
    grid-column: 5/span 7;
    height: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.menu li{
    height: 100%;
    display: flex;
    align-items: center; 
}

.menu li a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: relative; 
    height: 30%; 
}

.item a:before{
    content: "";
    background-color: white;
    height: 3px;
    width: 0%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all .3s ease-out;
}

.item a:hover:before{
    width: 100%;
    left: 0%;
}

.contact-ipad{
    grid-column: 5/span 5;
    position: absolute;
    display: none;
    justify-content: center;
    
}

.contact-ipad li{
    height: 100%;
    display: flex;
    align-items: center; 
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.contact-ipad li:nth-child(2){
    padding-left: 30px;
}

.burguer-menu{
    opacity: 0;
    display: none;
    color: white;
    font-size: 3.5rem;
    grid-column: 11 / 12;
    position: absolute;
    left: 42%;
    z-index: 5;
}


/* Títulos */

.hero{
    grid-column: 1/ span 12;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

.titulo-container{
    grid-column: 2/span 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
}

.subtitulo{
    font-family: 'roboto',sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    line-height: 2.3rem;
    margin-bottom: 20px;
}

.titulo-nombre{
    font-family: 'Oswald', sans-serif;
    font-size: 7.5rem;
    line-height: 7.5rem;
    color: white;
}

.titulo-nombre span{
    font-family: 'Oswald', sans-serif;
    font-size: 7.5rem;
    color: var(--amarillo);
}

.linea-amarilla{
    margin-top: 55px;
    width: 200px;
    height: 10px;
    background-color: var(--amarillo);
    border-radius: 10px;
}

/* Info Abajo */

.contact-info{
    grid-column: 1/ span 12;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}


.container-iconos{
    grid-column: 2/ span 2;
    font-size: 1.6rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-iconos i{
    font-size: 2.5rem;
}

.container-iconos a{
    color: white;
}

.flecha{
    grid-column: 6/span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flecha a{
    padding-top: 15px;
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
    font-size: 5rem;
}

.flecha a i{
    animation: bajar-subir 1s ease infinite;
}

.container-contactinfo{
    grid-column: 10/ span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 50px;
}
.container-contactinfo span{
    color: white;
    font-size: 1.6rem;
    font-family: 'roboto',sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}

/*Color Menú Lateral*/

.fp-right span {
    background: gray !important;
}


/* ------------------------------- */
/* SLIDE 2 */
/* ------------------------------- */

/* Formato colores */

.slide2{ /* Color iconos Redes Sociales */
    color: black;
}

.titulo-container-slide2{
    grid-column: 3 / span 4;
    grid-row: 2/ span 1;
    display: flex;
    flex-direction: column ;
    justify-content: center;
}

.subtitulo-slide2{
    font-family: 'roboto',sans-serif;
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    line-height: 2.3rem;
    margin-bottom: 20px;
}

.titulo-nombre-slide2{
    font-family: 'Oswald', sans-serif;
    font-size: 5.5rem;
    line-height: 5.5rem;
    font-weight: 500;
    color: black;
}

.titulo-nombre-slide2 span{
    font-family: 'Oswald', sans-serif;
    font-size: 5.5rem;
    color: #5B01FF;
}

.lista-conocimiento{
    list-style: none;
    font-family: 'Oswald', sans-serif;
    margin-top: 6rem;
    font-size: 2rem;
}

.globo-container{
    grid-column: 8/ span 3;
    grid-row: 2/ span 1;
    display: flex;
    align-items: center;
}

.globo-container img{
    width: 100%;
}


@media (max-width:1024px){
    .titulo-nombre{
        font-size: 6.5rem;
        line-height: 6.5rem;
    }
    
    .titulo-nombre span{
        font-size: 6.5rem;
    }
    .menu{
        grid-column: 5/span 8;
        position: absolute;
        z-index: 3;
        top: 0;
        right: -100%;
        background-color: #5B01FF;
        display: flex;
        align-items:flex-start;
        padding-left: 40px;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 55vw;
        transition: .3s ease-in-out;
    }

    .menu.isactive{
        right: 0;
    }
    

    .menu li{
        height: 80px;
    }    
    .menu li a{
        font-size: 2rem;
    }
    .burguer-menu{
        opacity: 1;
        display: flex;
    }
    .contact-ipad{
        display: flex;
    }
    .container-contactinfo{
        display: none;
    }
    .titulo-container-slide2{
        grid-column: 2 / span 5;
    }
    .titulo-nombre-slide2{
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .titulo-nombre-slide2 span{
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .globo-container{
        grid-column: 8/ span 4;
    }
    
    

}


@media (max-width:768px){
    .titulo-container{
        grid-column: 2/span 7;
        padding-left: 0;
        padding-top: 30vh;
    }

    .container-iconos{
        grid-column: 2/ span 3;
    }
    .titulo-nombre-slide2{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .titulo-nombre-slide2 span{
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

@media (max-width:720px){
    .contact-ipad{
        display: none;
    }
}

@media (max-width:610px){
    .titulo-container-slide2{
        grid-column: 3 / span 8;
        grid-row: 2/ span 1;
        display: flex;
        flex-direction: column ;
        justify-content: flex-start;
        margin-top: 5%;
    }
    .globo-container{
        grid-column: 3/ span 7;
        grid-row: 2/ span 1;
        display: flex;
        align-items: flex-end;
    }
}


@media (max-width:480px){
    .titulo-nombre{
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
    
    .titulo-nombre span{
        font-size: 4.5rem;
    }

    .contact-info{
        display: flex;
        grid-column: 11/ span 2;
        grid-row: 2/3;
    }
    .container-iconos{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .container-iconos i{
        margin-top: 20px;
    }
    .flecha{
        display: none;
    }
    .titulo-container-slide2{
        margin-top: 20%;
    }
    
    
    
}








/* ---------------------------------------------
/* ANIMACIONES */
/* ----------------------------------------------- */ 

@keyframes bajar-subir{
    0%{ transform: translateY(20px);}
    25%{ transform: translateY(0px);}
    100%{ transform: translateY(20px);}
}